@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-color {
  color: white;
}

pre, embed {
  color: white;
}

.brand-bg {
  background: #0f254d; 
 
}

.main-h {
  height: 100%;
  min-height: 100vh;;
}

.brand-btn {
  background: #0f254d;
}

.brand-logo {
  background-image: url('./../public/brand.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 130px;
}

.nav-align {
  align-items: center
} 

.tab-assets {
  cursor: pointer;
}
.nav-btn:hover {
  transition: all .5s ease-in-out;
  transform: scaleX(2);
  transform: scaleY(2);
  color:rgb(37 99 235);
}
.create-form {
  border: #fff6f0 dotted;
}

div.settings {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
div.settings label       { text-align:right; }
/* div.settings label:after { content: ":"; }​ */

.mint-btn {
  background: white;
  color: #0f254d;
  font-family: inherit;
}

.mint-btn:hover { 
  font-family: cursive;
  font-size: larger;
}

.board-btn {
  background: white;
  color: #0f254d;
  font-family: inherit; 
}

form {
  overflow: hidden;
}

label-cls {
  float: left;
  width: 120px;
  padding-right: 10px;
}

input-cls {
  float: left;
  width: calc(100% - 120px);
}

button-cls {
  float: right;
  width: calc(100% - 120px);
}

.help-link:hover {
  color: red;
}